<footer class="container footer navbar-static-bottom">
	<small>
		<a href="http://www.shekoia.com">Irgendein Link</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Netanomy Project", 'http://3.bp.blogspot.com/-GpY_OwpthCs/T4fUQN4ehpI/AAAAAAAABrM/CpC1G19bfSg/s1600/tarsier%2B2.png' %></li>
			<li><%= link_to "License", '#' %></li>
		</ul>
	</nav>
</footer>